@import "@codedrops/react-ui/dist/styles/colors.scss";
@import "@codedrops/react-ui/dist/styles/custom-styles.scss";

section#expenses {
  .badge {
    position: absolute;
    top: -6px;
    right: -6px;
    background: $foBlue;
    color: $white;
    border-radius: 2px;
    padding: 4px 8px;
    font-size: 1rem;
  }

  .ant-card {
    &.summary {
      position: relative;
      .ant-card-body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
        & > * {
          flex-grow: 0;
          flex-shrink: 0;
        }
      }
      .expense-type-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .expense-type-name {
          font-size: 1.2rem;
          color: $iron;
        }
        .expense-type-value {
          font-size: 2.2rem;
          color: $steel;
        }
      }
    }
    &.add-expense {
      height: auto;
      align-items: flex-start;
      justify-content: flex-start;
    }
    &.expense-list {
      justify-content: flex-start;
      align-items: flex-start;
      height: max-content;
      min-height: 230px;
      .ant-card-body {
        padding-right: 0;
      }
    }
  }

  .message {
    color: $iron;
  }
}

.ant-list {
  width: 100%;
  background: $white;
  .expense-list-container {
    font-size: 1rem;
  }
}

.ant-list-items .ant-list-item {
  padding: 12px 0;
}

.ant-list-item-action > li {
  font-size: 1rem;
}
