@import "@codedrops/react-ui/dist/styles/colors.scss";

section#expenses {
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 12px;
  .filters-container {
    justify-content: flex-start;
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
  .badge {
    position: absolute;
    top: -6px;
    left: -6px;
    background: $foBlue;
    color: $white;
    border-radius: 2px;
    padding: 4px 8px;
    font-size: 1rem;
    z-index: 1001;
  }
  .add-expense .ant-card-body {
    flex-direction: column;
    gap: 8px;
    display: flex;
    .expense-type-item {
      // background: gray;
      .expense-subtype-container {
        padding-left: 18px;
      }
    }
  }

  .ant-card {
    &.summary {
      position: relative;
      .ant-card-body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
        & > * {
          flex-grow: 0;
          flex-shrink: 0;
        }
      }
      .expense-type-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .expense-type-name {
          font-size: 1.2rem;
          color: $iron;
          font-weight: bold;
        }
        .expense-type-value {
          font-size: 2.2rem;
          color: $steel;
        }
      }
    }
    &.add-expense {
      align-items: flex-start;
      justify-content: flex-start;
      display: flex;
    }
    &.expense-list {
      & > .ant-card-body {
        padding: 24px 8px;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
  }

  .message {
    color: $iron;
  }
}

.expense-item {
  margin-bottom: 8px;
  .ant-card-body {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .expense-list-container {
      flex-grow: 1;
    }
    .expense-actions {
      display: flex;
      align-items: center;
      gap: 4px;
      .ant-tag {
        font-size: 10px;
      }
    }
  }
}
