@import "@codedrops/react-ui/dist/styles/colors.scss";

.add-expense .ant-card-body,
.edit-expense {
  flex-direction: column;
  gap: 8px;
  display: flex;
  flex-grow: 1;
  .expense-type-item {
    // background: gray;
    .expense-subtype-container {
      padding-left: 18px;
    }
  }
  .hide-icon {
    display: none;
    opacity: 0;
    transition: 0.7s;
    font-size: 0.8rem;
    color: $blue;
  }
  .checkbox-item:hover .hide-icon {
    display: inline-block;
    padding-left: 2px;
    opacity: 1;
  }
}

section#expenses {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 8px;
  .filters-container .ant-card-body {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
  .badge {
    display: none;
    background: $foBlue;
    width: max-content;
    color: $white;
    border-radius: 2px;
    padding: 4px 8px;
    font-size: 1rem;
  }

  .ant-card {
    .ant-card-body {
      &::before {
        display: none !important;
      }
    }

    &.summary {
      position: relative;
      .ant-card-body {
        display: grid;
        grid-template-columns: repeat(3, minmax(60px, 1fr));
        gap: 10px;
        & > * {
          flex-grow: 0;
          flex-shrink: 0;
        }
        &::before {
          display: none;
        }
      }
      .expense-type-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1 1 30%;
        .expense-type-name {
          font-size: 1.2rem;
          color: $iron;
        }
        .expense-type-value {
          font-size: 1.6rem;
          color: $iron;
          font-weight: bolder;
        }
      }
    }
    &.add-expense {
      align-items: flex-start;
      justify-content: flex-start;
      display: flex;
    }
    &.expense-list {
      & > .ant-card-body {
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
  }

  .message {
    color: $iron;
    font-size: 1rem;
  }
  .menu {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
  }
}

.expense-group-container {
  background: #fbfbfb;
  padding: 12px;
  border-radius: 2px;
  .group-key {
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 6px;
  }
}
.dot {
  display: inline-block;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background: $foBlue !important;
}
.expense-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 18px;
  padding: 4px 0;

  .amount {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 4px;
    .dot {
      display: inline-block;
      height: 6px;
      width: 6px;
      border-radius: 50%;
      background: green;
    }
  }
  .expense-actions {
    margin-top: 4px;
    display: flex;
    align-items: center;
    gap: 4px;
  }
}
