@import "../../theme.scss";
@import "../../custom-styles.scss";

section#expenses {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  max-width: 700px;
  .card {
    padding: 0 10px;
    flex: 1 1 49%;
    &:nth-child(1) {
      border-right: 2px dashed $white;
    }
    .add-type-card {
      background: $chrome;
      position: relative;
      max-width: 300px;
      margin: 0 auto;
      border-radius: 15px;
      text-align: center;
    }
  }

  .total {
    font-size: 1.4rem;
    color: $red;
    padding: 4px 16px 4px 4px;
    font-style: italic;
    border-radius: 2px;
    background: $red;
    color: $white;
  }

  .message {
    font-style: italic;
    color: $shade2;
    font-size: 1rem;
  }

  .wallet-icon {
    @media screen and (min-width: 650px) {
      display: none;
    }
  }
}

.expense-list-header {
  .month {
    font-size: 1rem;
    font-style: italic;
    color: $red;
  }
}

.expense-list-container {
  flex: 1;
}

.spinner {
  margin-left: 4px;
  position: relative;
  top: 2px;
}

.ant-modal {
  .ant-page-header {
    padding: 5px;
  }
}

.ant-list {
  background: $white;
}

.ant-list-items.ant-list-item {
  padding-left: 4px;
  padding-right: 4px;
}
