section#posts{
  & > div.header{
    display: flex;
    align-items: center;
    // justify-content: space-between;
    justify-content: flex-start;
    h3{
      display: inline-block;
      margin-right: 20px;
    }
  }
}