section#posts {
  & > div.header {
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 400px) {
      flex-direction: column;
    }
    h3 {
      display: inline-block;
      margin-right: 20px;
    }
  }
  .not-found {
    margin-top: 10px;
    font-size: 1.2rem;
  }
}
