@import "@codedrops/react-ui/dist/styles/colors.scss";
@import "@codedrops/react-ui/dist/styles/custom-styles.scss";

section#tasks {
  flex: 1;
  .task {
    display: inline-block;
    padding: 2px;
    &.disabled {
      text-decoration: line-through;
    }
  }
  .info {
    padding: 2px 4px;
    font-style: italic;
    font-size: 1rem;
  }
}

.day {
  height: 20px;
  width: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 1px;
  font-style: normal;
  &.active-day {
    background: $green;
    color: $white;
  }
}
