@import "@codedrops/react-ui/dist/styles/colors.scss";

section#tasks {
  flex: 1;
  .task.complete {
    background: $feather;
    .ant-picker-calendar,
    .ant-picker-body {
      background: $feather;
    }
  }
  .info {
    padding: 2px 4px;
    font-style: italic;
    font-size: 1rem;
  }
}

.day {
  height: 28px;
  width: 28px;
  border-radius: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  &.active-day {
    background: $green;
    color: $white;
  }
}
