@import "./colors.scss";

.defaults {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.mt {
  margin-top: 8px;
}

.ml {
  margin-left: 8px;
}

.text-center {
  text-align: center;
}

.center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.underline {
  position: relative;
  &:after {
    content: "";
    width: 105%;
    height: 4px;
    background: $red;
    position: absolute;
    bottom: 1px;
    left: 0;
  }
}

.input {
  margin: 4px 4px 0 0;
  box-sizing: border-box;
}

.input-width {
  width: 100%;
  max-width: 150px;
}

.max-width {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 400px) {
    max-width: 98%;
  }
}

.flex {
  display: flex;
}

.flex.center {
  align-items: center;
}

/* CARD */

.curve-border {
  border-radius: 3% 97% 5% 95% / 95% 4% 96% 5%;
}

.bottom-line {
  &:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 4px;
    background: $strokeTwo;
  }
}

@mixin flex($align: center, $justify: center, $direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  align-items: $justify;
}

.divider {
  width: 100%;
  height: 1px;
  background: $white;
}
