@import "./colors.scss";
@import "./custom-styles.scss";

html {
  @extend .defaults;
  height: 100vh;
  width: 100vw;
  font-size: 10px;
}

body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}

body,
#root,
#root .app {
  @extend .defaults;
}

.app {
  display: flex;
  flex-direction: column;
  & > div.content {
    flex-grow: 1;
    overflow-y: auto;
  }
  & > .loader {
    @extend .center-container;
  }
}

/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $black2;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $bar;
}
