@import "@codedrops/react-ui/dist/styles/colors.scss";

section#timeline {
  .timeline {
    flex: 1;
    overflow: auto;
    margin: 0;
    width: 100%;
    padding-top: 8px;
    &::after {
      display: none;
    }
    .ant-timeline {
      // padding-top: 6px;
      // overflow: auto;
      height: 100%;
    }
    .ant-timeline-item {
      padding-bottom: 8px;
    }
    .ant-card-body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 8px;
    }
  }
}

.ant-timeline::-webkit-scrollbar {
  width: 0 !important;
}
