@import "../../magicdust/colors.scss";
section#timeline {
  background: $bg;
  padding: 4px 8px;
  .timeline {
    flex: 1;
    overflow: auto;
    .ant-timeline {
      padding-top: 6px;
      overflow: auto;
      height: 100%;
    }
    .ant-timeline-item {
      padding-bottom: 8px;
    }
    .ant-card {
      border-radius: 8px;
    }
    .ant-card-body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 8px;
    }
  }
  .add-icon {
    position: absolute;
    right: 4px;
    bottom: 4px;
  }
}

.ant-timeline::-webkit-scrollbar {
  width: 0 !important;
}
