section#timeline {
  .timeline {
    background: white;
    height: 70vh;
    padding: 15px 10px;
    position: relative;
    margin: 0px 20px;
    .ant-timeline {
      overflow: auto;
      height: 100%;
    }
    .ant-card-body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }
  }
  .add-icon {
    position: absolute;
    font-size: 17px;
    right: 10px;
    bottom: 10px;
    transition: 1.5s;
    &:hover {
      transform: rotate(360deg) scale(1.2);
    }
  }
}
.ant-timeline::-webkit-scrollbar {
  width: 0 !important;
}
