@import "@codedrops/react-ui/dist/styles/colors.scss";
@import "@codedrops/react-ui/dist/styles/custom-styles.scss";
@import "@codedrops/react-ui/dist/styles/mixins.scss";

.app {
  background: url("./assets/backgrounds/so-white.png");
  div.header-wrapper {
    @include center-layout-header-wrapper;
  }
  div.section-wrapper {
    @include center-layout-section-wrapper;
    // position: relative;
    // padding: 0 12px;
    // width: 100%;
    // overflow: overlay;
    .ant-spin-dot {
      font-size: 24px !important;
    }
    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    & > section {
      // position: relative;
      // max-width: 450px;
      // width: 100%;
      // margin: 0 auto;
      // flex-direction: column;
      & > .page-header {
        border: 1px solid rgb(235, 237, 240);
        margin-bottom: 12px;
        padding: 4px 12px;
        .ant-page-header-heading-extra {
          align-items: center;
          display: flex;
        }
      }
      & > .ant-card {
        margin-bottom: 12px;
      }
      &#login,
      &#register {
        background: $bg;
        height: auto;
        max-width: 275px;
        @extend .text-center;
        margin: 12px auto 0 auto;
        padding: 30px 20px 60px;
      }
    }
    html,
    body,
    html body,
    [class*="ant"],
    .ant-popover-message,
    .ant-btn-sm {
      font-size: 12px;
    }
  }

  .page-header {
    margin: 0 0 12px 0;
    min-height: 54px;
  }
}

.ant-modal-header {
  padding: 12px;
  .ant-modal-title {
    font-size: 1.2rem;
    position: relative;
    top: 4px;
  }
}
.ant-modal-body {
  padding: 8px;
}

.ant-modal-footer,
.ant-modal-body {
  [class*="ant"] {
    font-size: 1.2rem;
  }
}
