@import "theme.scss";
@import "custom-styles.scss";

.app {
  @extend .defaults;
  display: flex;
  flex-direction: column;
  background: url("./assets/backgrounds/dot-grid.png");
  & > div.content {
    flex-grow: 1;
    overflow-y: auto;
    & > .ant-spin {
      @extend .center-container;
    }
    & > section {
      background: $bg;
      border-radius: 20px;
      margin: 0px auto;
      padding: 12px;
      min-height: 40vh;
      max-height: 98%;
      box-sizing: border-box;
      width: 96%;
      position: relative;
      &#home,
      &#goals,
      &#todos {
        @extend .max-width;
      }
      &#login,
      &#register {
        margin-top: 40px;
        max-width: 275px;
        @extend .text-center;
        padding: 30px 20px 60px;
        .ant-input,
        .ant-input-password {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
    & > section.no-background {
      background: none;
    }
  }
}
