.mt {
  margin-top: 10px;
}

.text-center {
  text-align: center;
}

.custom-header {
  position: relative;
  &:after {
    content: "";
    width: 105%;
    height: 4px;
    background: $red;
    position: absolute;
    bottom: 1px;
    left: 0;
  }
}

.input {
  margin: 5px;
  box-sizing: border-box;
}

.input-width {
  width: 100%;
  max-width: 150px;
}

.defaults {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex.center {
  justify-content: center;
}

.max-width {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 400px) {
    max-width: 98%;
  }
}

.center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
