@import "@codedrops/react-ui/dist/styles/defaults.scss";

@font-face {
  src: url("./assets/fonts/Cascadia/CascadiaCode-Regular.otf");
  font-family: Cascadia-Regular;
}

@font-face {
  src: url("./assets/fonts/Cascadia/CascadiaCode-SemiBold.otf");
  font-family: Cascadia-SemiBold;
}

@font-face {
  src: url("./assets/fonts/Cascadia/CascadiaMono-Bold.otf");
  font-family: Cascadia-Bold;
}

* {
  font-family: Cascadia-Regular;
}
