@font-face {
  font-family: Barriecito-Regular;
  src: url("./assets/fonts/Barriecito-Regular.ttf");
}

@font-face {
  font-family: Neucha-Regular;
  src: url("./assets/fonts/Neucha-Regular.ttf");
}

@font-face {
  font-family: PoiretOne-Regular;
  src: url("./assets/fonts/PoiretOne-Regular.ttf");
}

@font-face {
  font-family: AmaticSC-Bold;
  src: url("./assets/fonts/AmaticSC-Bold.ttf");
}

@font-face {
  font-family: ArchitectsDaughter-Regular;
  src: url("./assets/fonts/ArchitectsDaughter-Regular.ttf");
}

@font-face {
  font-family: Economica-Regular;
  src: url("./assets/fonts/Economica-Regular.ttf");
}

@font-face {
  font-family: HiMelody-Regular;
  src: url("./assets/fonts/HiMelody-Regular.ttf");
}

#root,
.custom-font,
.input,
button,
.ant-modal-title,
.ant-btn,
.ant-calendar-month-panel-cell,
.ant-checkbox-group {
  font-family: ArchitectsDaughter-Regular;
}
.ant-modal-body {
  padding: 12px !important;
}

body {
  background: url("./assets/backgrounds/concrete-texture.png");
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;
  .input {
    margin: 5px;
  }
  i {
    padding: 3px;
  }
}
