@import "@codedrops/react-ui/dist/styles/colors.scss";
@import "@codedrops/react-ui/dist/styles/custom-styles.scss";

section#goals {
  .goal-list {
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-gap: 12px;
    .goal-item {
      display: flex;
      flex-direction: column;
      padding: 8px;
      height: 150px;
      width: 150px;
      background: $orchid;
      border-radius: 2px;
      color: $white;
      position: relative;
      .goal {
        flex: 1 1 auto;
        line-height: 1.6rem;
        font-size: 1.4rem;
      }
      .stats {
        height: 24px;
        display: flex;
        flex-direction: column;
        .date {
          line-height: 1.2rem;
          font-size: 1rem;
        }
        .time {
          font-size: 1.6rem;
        }
      }
      .check-icon {
        position: absolute;
        right: 2px;
        bottom: 2px;
        transition: 0.3;
        &:hover svg {
          fill: white;
        }
      }
    }
  }
}
