@import "@codedrops/react-ui/dist/styles/colors.scss";
@import "@codedrops/react-ui/dist/styles/custom-styles.scss";

section#goals {
  .goal-list {
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12px;
    .goal-item {
      display: flex;
      flex-direction: column;
      padding: 12px;
      height: 120px;
      background: $orchid;
      border-radius: 2px;
      position: relative;
      color: $white;
      .goal {
        line-height: 1.6rem;
        font-size: 1.4rem;
        margin-bottom: 8px;
      }
      .stats {
        display: flex;
        flex-direction: column;
        .date {
          font-size: 1rem;
        }
      }
      .check-icon {
        position: absolute;
        right: 6px;
        bottom: 4px;
        transition: 0.3;
        &:hover svg {
          fill: white;
        }
      }
    }
  }
}
